@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans');

html, body {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
}

.content {
  max-width: 800px;
  padding: 20px;
}

.content h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: #333333;
  text-align: center;
}
.content p {
  text-align: center;
  color: #333333;
  line-height: 1.8em;
  font-family: 'Droid Serif', serif;
  font-size: 1.3em;
}

.content ul {
  display: flex;
  padding: 0px;
  flex-direction: row;
  justify-content: center;
}
.content ul li {
  list-style: none;
  padding-right: 20px;
}

.content p a, .content p a:visited {
  color: #FF0084;
}

.content ul img {
  width: 30px;
  fill: currentColor;
}

@media (max-width: 600px) {
    .content { padding: 40px; }
    .content p { text-align: left; }
    .content h1 { text-align: left; }
    .content ul { justify-content: left; }
}

.rofldomain {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.rofldomain a {

  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
